@font-face {
	font-family: yekan;
	font-style: normal;
	font-weight: normal;
	src: url('font/eot/iranyekanwebmediumfanum.eot'),
	url('font/ttf/iranyekanwebmediumfanum.ttf') format('ttf'),  /* FF39+,Chrome36+, Opera24+*/
	url('font/woff/iranyekanwebmediumfanum.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}